# Build and Release Folders
bin/

# Other files and folders
.metadata/
.settings/

# Project files, i.e. `.classpath` and `.project`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse.
.classpath
.project
